---
---

@import "jekyll-theme-cayman";

header a {
    color: $header-heading-color;
}

.site-footer-copyright {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-align: center;
}

.site-footer-logo {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-align: center;

    img {
        max-height: 150px;
        width: auto;
        margin: -30px 0;
    }
}
