tags
*.swp
.eggs
build
dist
__pycache__
*.egg-info
.coverage
htmlcov
site
*.tmp
*.orig
*~
\#*#
.#*
.sass-cache
/_site
.venv
/venv
/.idea
output
.sinetstream_config.yml
/.vscode
/tests/data/python
*.whl
.pytest_cache
.tox