[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-pep8 = "*"

[packages]
kafka-python = "*"
pyyaml = "*"
pycryptodome = "*"

[requires]
python_version = "3.7"
